<a href="https://colab.research.google.com/github/shetharsh24/Pyspark_tut/blob/main/Pyspark_tut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
#!pip install pyspark                                                                    # Installing pyspark

In [123]:
import pyspark
from pyspark.sql import SparkSession               
from pyspark import SparkFiles                                                                        # Importing necessary libs

In [124]:
spark = SparkSession.builder.appName('Tut').getOrCreate()                                             # Initializing SparkSession object

In [125]:
spark

In [126]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
spark.sparkContext.addFile(url)                                                                       # Adding file to be downloaded

In [127]:
df_spark = spark.read.csv("file://"+SparkFiles.get("titanic.csv"), header=True, inferSchema= True)    # Passing in absolute path

In [128]:
df_spark.show(10)                                                                                     # Showing first 10 records

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [129]:
df_spark.printSchema()                                                                              # Printing the schema of table, almost similar to pandas df.info

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [130]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [131]:
df_spark.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [132]:
df_spark.select('PassengerId','Survived').show(10)

+-----------+--------+
|PassengerId|Survived|
+-----------+--------+
|          1|       0|
|          2|       1|
|          3|       1|
|          4|       1|
|          5|       0|
|          6|       0|
|          7|       0|
|          8|       0|
|          9|       1|
|         10|       1|
+-----------+--------+
only showing top 10 rows

In [133]:
df_spark.count()

891

In [134]:
df1 = df_spark.sample(False,0.5,0)                                                                            # Slicing the data

In [135]:
df1.count()

448

In [136]:
df2 = df_spark.subtract(df1)

In [137]:
df2.count()

443

In [138]:
df_spark.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [139]:
df_spark.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [140]:
from pyspark.sql import functions
df_spark.withColumn('New_col',functions.rand()).show(10)                                                              # Creating new col and populating with random values

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|            New_col|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S| 0.7798861422890867|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C| 0.4914513155048462|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S| 0.3793263405637204|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|0.17755542223032605|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S| 0.9523285887614459|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|0.14428386186128161|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S| 0.6424404767629689|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|0.14346716601452447|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S| 0.9262926399870107|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C| 0.4448664980198741|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------------------+
only showing top 10 rows

In [141]:
df_spark.drop('New_col').show(10)                                                                                   # Dropping new column

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [142]:
df_spark.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [143]:
filter_expr = functions.exists(functions.array(*df_spark.columns), lambda x: x.isNull())                                      # Finding out null values from the dataset

In [144]:
df_spark.filter(filter_expr).show()                                                                                            # Filtering the null values and printing them

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| null|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909| 21.075| null|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| null|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [145]:
df_spark.na.drop(how='all').show()                                                                                    # Dropping the rows with all the null values

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [146]:
df_spark.na.drop(how='all',thresh=2).show()                                                               # Using thresh feature to check whether atleast 2 non null values are present or not

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [147]:
df_spark.na.drop(how='all',subset=['Cabin']).show()                                                           # Using subset feature to drop the rows where Cabin column had null values

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|     248698|    13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|   PC 17569|146.5208|        B78|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509| 61.9792|        B30|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|      19947|    35.5|        C52|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|     113572|    80.0|        B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [148]:
df_spark.na.fill('Missing Values','Cabin').show()                                                             # Filling the cabin values with the 'Missing Values'

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|         Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|Missing Values|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|           C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|Missing Values|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|          C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|Missing Values|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|Missing Values|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|           E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|Missing Values|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|Missing Values|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|Missing Values|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|            G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|          C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|Missing Values|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|Missing Values|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|Missing Values|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|Missing Values|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|Missing Values|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|Missing Values|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|Missing Values|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|Missing Values|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------------+--------+
only showing top 20 rows

In [149]:
df_spark.withColumn('New_col',functions.rand()).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|            New_col|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S| 0.5867331638269366|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C| 0.6711118526518965|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|0.22728250505454728|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|0.18361048282818027|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|  0.907029935142236|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q| 0.4529670053860736|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|0.22993490374685566|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S| 0.8032274859838926|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S| 0.9513967595899118|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C| 0.2661186088489723|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------------------+
only showing top 10 rows

In [150]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age'],
    outputCols=["{}_imputed".format(c) for c in ['Age']]).setStrategy('median')                             # Replacing the null values with the median value

In [151]:
imputer.fit(df_spark).transform(df_spark).show()                                                            # Printing the imputed

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Age_imputed|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|       22.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       38.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|       26.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       35.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|       35.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|       28.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|       54.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|        2.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|       27.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       14.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|        4.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|       58.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|       20.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|       39.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       14.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|       55.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|        2.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|       28.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|       31.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|       28.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
only showing top 20 rows

In [152]:
df_spark.filter('Age<25').show()                                                              # Using filter function to show the age < 25

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|    A/5 21171|   7.25|       null|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|       349909| 21.075|       null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736|30.0708|       null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|      PP 9549|   16.7|         G6|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|    A/5. 2151|   8.05|       null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|       350406| 7.8542|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|       382652| 29.125|       null|       Q|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|       330923| 8.0292|       null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|       349909| 21.075|       null|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|        19950|  263.0|C23 C25 C27|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|   A./5. 2152|   8.05|       null|       S|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|       345764|   18.0|       null|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|         2651|11.2417|       null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123|41.5792|       null|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|       330958| 7.8792|       null|       Q|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|       349237|   17.8|       null|       S|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|      3101295|39.6875|       null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|   A/4. 39886|    7.8|       null|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|   C.A. 31026|   10.5|       null|       S|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|   C.A. 34651|  27.75|       null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+-------+-----------+--------+
only showing top 20 rows

In [153]:
df_spark.filter("Age<25").select(['Name','Age']).show()                                         # Filtering specific columns

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Palsson, Master. ...| 2.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Saundercock, Mr. ...|20.0|
|Vestrom, Miss. Hu...|14.0|
|Rice, Master. Eugene| 2.0|
|"McGowan, Miss. A...|15.0|
|Palsson, Miss. To...| 8.0|
|Fortune, Mr. Char...|19.0|
|Cann, Mr. Ernest ...|21.0|
|Vander Planke, Mi...|18.0|
|Nicola-Yarred, Mi...|14.0|
|Laroche, Miss. Si...| 3.0|
|Devaney, Miss. Ma...|19.0|
|Arnold-Franchi, M...|18.0|
|Panula, Master. J...| 7.0|
|Nosworthy, Mr. Ri...|21.0|
|   Rugg, Miss. Emily|21.0|
|West, Miss. Const...| 5.0|
+--------------------+----+
only showing top 20 rows

In [154]:
df_spark.filter((df_spark['Age'] < 25) & (df_spark['Sex']=='male') ).show()                     # Filtering on multiple rows

+-----------+--------+------+--------------------+----+----+-----+-----+------------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|      Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+------------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|   A/5 21171|   7.25|       null|       S|
|          8|       0|     3|Palsson, Master. ...|male| 2.0|    3|    1|      349909| 21.075|       null|       S|
|         13|       0|     3|Saundercock, Mr. ...|male|20.0|    0|    0|   A/5. 2151|   8.05|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|male| 2.0|    4|    1|      382652| 29.125|       null|       Q|
|         28|       0|     1|Fortune, Mr. Char...|male|19.0|    3|    2|       19950|  263.0|C23 C25 C27|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|male|21.0|    0|    0|  A./5. 2152|   8.05|       null|       S|
|         51|       0|     3|Panula, Master. J...|male| 7.0|    4|    1|     3101295|39.6875|       null|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|male|21.0|    0|    0|  A/4. 39886|    7.8|       null|       S|
|         60|       0|     3|Goodwin, Master. ...|male|11.0|    5|    2|     CA 2144|   46.9|       null|       S|
|         61|       0|     3|Sirayanian, Mr. O...|male|22.0|    0|    0|        2669| 7.2292|       null|       C|
|         64|       0|     3|Skoog, Master. Ha...|male| 4.0|    3|    2|      347088|   27.9|       null|       S|
|         68|       0|     3|Crease, Mr. Ernes...|male|19.0|    0|    0|   S.P. 3464| 8.1583|       null|       S|
|         73|       0|     2|Hood, Mr. Ambrose Jr|male|21.0|    0|    0|S.O.C. 14879|   73.5|       null|       S|
|         79|       1|     2|Caldwell, Master....|male|0.83|    0|    2|      248738|   29.0|       null|       S|
|         81|       0|     3|Waelens, Mr. Achille|male|22.0|    0|    0|      345767|    9.0|       null|       S|
|         87|       0|     3|Ford, Mr. William...|male|16.0|    1|    3|  W./C. 6608| 34.375|       null|       S|
|         90|       0|     3|Celotti, Mr. Fran...|male|24.0|    0|    0|      343275|   8.05|       null|       S|
|         92|       0|     3|Andreasson, Mr. P...|male|20.0|    0|    0|      347466| 7.8542|       null|       S|
|         98|       1|     1|Greenfield, Mr. W...|male|23.0|    0|    1|    PC 17759|63.3583|    D10 D12|       C|
|        103|       0|     1|White, Mr. Richar...|male|21.0|    0|    1|       35281|77.2875|        D26|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+------------+-------+-----------+--------+
only showing top 20 rows

In [155]:
df_spark.filter(~(df_spark['Age'] < 25)).show()                                             # Performing inverse operation with filter

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|   A6|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875| null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601|27.7208| null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|   10.5| null|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604|82.1708| null|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|   52.0| null|       S|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|  9.475| null|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|   21.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [156]:
df_spark.groupby(['Sex','Survived']).count().show()                                                      # Using groupby and agg functions

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|  male|       0|  468|
|female|       1|  233|
|female|       0|   81|
|  male|       1|  109|
+------+--------+-----+

In [157]:
df_spark.agg({'Sex':'count'}).show()                                                                     # Using agg function

+----------+
|count(Sex)|
+----------+
|       891|
+----------+

In [158]:
from pyspark.ml.feature import VectorAssembler, StringIndexer

In [159]:
indexer = StringIndexer(inputCol='Sex', outputCol='Sex_cat')
indexed = indexer.fit(df_spark).transform(df_spark)
indexed.show()                                                                                          # Converting categorical variable

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Sex_cat|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|    0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|    1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|    1.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|    1.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|    0.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|    0.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|    0.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|    0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|    1.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|    1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|    1.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|    1.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|    0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|    0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|    1.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|    1.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|    0.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|    0.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|    1.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|    1.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-------+
only showing top 20 rows

In [161]:
df_spark = df_spark.join(indexed, df_spark.PassengerId == indexed.PassengerId).select(df_spark["*"],indexed["Sex_cat"])       # Joining the dataframe

In [168]:
fd = imputer.fit(df_spark).transform(df_spark)                                                                                # Assining new dataframe

In [170]:
df_spark = df_spark.join(fd, df_spark.PassengerId == fd.PassengerId).select(df_spark["*"],fd["Age_imputed"])                  # Joining the dataframe

In [171]:
df_spark.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----+--------+-------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|   Fare|Cabin|Embarked|Sex_cat|Age_imputed|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----+--------+-------+-----------+
|        148|       0|     3|"Ford, Miss. Robi...|female| 9.0|    2|    2| W./C. 6608| 34.375| null|       S|    1.0|        9.0|
|        463|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|     111320|   38.5|  E63|       S|    0.0|       47.0|
|        471|       0|     3|   Keefe, Mr. Arthur|  male|null|    0|    0|     323592|   7.25| null|       S|    0.0|       28.0|
|        496|       0|     3|Yousseff, Mr. Ger...|  male|null|    0|    0|       2627|14.4583| null|       C|    0.0|       28.0|
|        833|       0|     3|      Saad, Mr. Amin|  male|null|    0|    0|       2671| 7.2292| null|       C|    0.0|       28.0|
|        243|       0|     2|Coleridge, Mr. Re...|  male|29.0|    0|    0|W./C. 14263|   10.5| null|       S|    0.0|       29.0|
|        392|       1|     3|Jansson, Mr. Carl...|  male|21.0|    0|    0|     350034| 7.7958| null|       S|    0.0|       21.0|
|        540|       1|     1|Frolicher, Miss. ...|female|22.0|    0|    2|      13568|   49.5|  B39|       C|    1.0|       22.0|
|        623|       1|     3|    Nakid, Mr. Sahid|  male|20.0|    1|    1|       2653|15.7417| null|       C|    0.0|       20.0|
|        737|       0|     3|Ford, Mrs. Edward...|female|48.0|    1|    3| W./C. 6608| 34.375| null|       S|    1.0|       48.0|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+-------+-----+--------+-------+-----------+
only showing top 10 rows

In [172]:
featureassembler=VectorAssembler(inputCols=["Age_imputed","Sex_cat"],outputCol="Independent Features")                            # Select the independent features

In [173]:
output=featureassembler.transform(df_spark)                                                                                       # Performing transform

In [174]:
output.show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+-------+-----+--------+-------+-----------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|           Ticket|   Fare|Cabin|Embarked|Sex_cat|Age_imputed|Independent Features|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+-------+-----+--------+-------+-----------+--------------------+
|        148|       0|     3|"Ford, Miss. Robi...|female| 9.0|    2|    2|       W./C. 6608| 34.375| null|       S|    1.0|        9.0|           [9.0,1.0]|
|        463|       0|     1|   Gee, Mr. Arthur H|  male|47.0|    0|    0|           111320|   38.5|  E63|       S|    0.0|       47.0|          [47.0,0.0]|
|        471|       0|     3|   Keefe, Mr. Arthur|  male|null|    0|    0|           323592|   7.25| null|       S|    0.0|       28.0|          [28.0,0.0]|
|        496|       0|     3|Yousseff, Mr. Ger...|  male|null|    0|    0|             2627|14.4583| null|       C|    0.0|       28.0|          [28.0,0.0]|
|        833|       0|     3|      Saad, Mr. Amin|  male|null|    0|    0|             2671| 7.2292| null|       C|    0.0|       28.0|          [28.0,0.0]|
|        243|       0|     2|Coleridge, Mr. Re...|  male|29.0|    0|    0|      W./C. 14263|   10.5| null|       S|    0.0|       29.0|          [29.0,0.0]|
|        392|       1|     3|Jansson, Mr. Carl...|  male|21.0|    0|    0|           350034| 7.7958| null|       S|    0.0|       21.0|          [21.0,0.0]|
|        540|       1|     1|Frolicher, Miss. ...|female|22.0|    0|    2|            13568|   49.5|  B39|       C|    1.0|       22.0|          [22.0,1.0]|
|        623|       1|     3|    Nakid, Mr. Sahid|  male|20.0|    1|    1|             2653|15.7417| null|       C|    0.0|       20.0|          [20.0,0.0]|
|        737|       0|     3|Ford, Mrs. Edward...|female|48.0|    1|    3|       W./C. 6608| 34.375| null|       S|    1.0|       48.0|          [48.0,1.0]|
|        858|       1|     1|Daly, Mr. Peter D...|  male|51.0|    0|    0|           113055|  26.55|  E17|       S|    0.0|       51.0|          [51.0,0.0]|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|         PC 17601|27.7208| null|       C|    0.0|       40.0|          [40.0,0.0]|
|        516|       0|     1|Walker, Mr. Willi...|  male|47.0|    0|    0|            36967|34.0208|  D46|       S|    0.0|       47.0|          [47.0,0.0]|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|       SO/C 14885|   10.5| null|       S|    1.0|       17.0|          [17.0,1.0]|
|        137|       1|     1|Newsom, Miss. Hel...|female|19.0|    0|    2|            11752|26.2833|  D47|       S|    1.0|       19.0|          [19.0,1.0]|
|        251|       0|     3|Reed, Mr. James G...|  male|null|    0|    0|           362316|   7.25| null|       S|    0.0|       28.0|          [28.0,0.0]|
|        451|       0|     2|West, Mr. Edwy Ar...|  male|36.0|    1|    2|       C.A. 34651|  27.75| null|       S|    0.0|       36.0|          [36.0,0.0]|
|        580|       1|     3| Jussila, Mr. Eiriik|  male|32.0|    0|    0|STON/O 2. 3101286|  7.925| null|       S|    0.0|       32.0|          [32.0,0.0]|
|        808|       0|     3|Pettersson, Miss....|female|18.0|    0|    0|           347087|  7.775| null|       S|    1.0|       18.0|          [18.0,1.0]|
|         65|       0|     1|Stewart, Mr. Albe...|  male|null|    0|    0|         PC 17605|27.7208| null|       C|    0.0|       28.0|          [28.0,0.0]|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+-------+-----+--------+-------+-----------+--------------------+
only showing top 20 rows

In [175]:
finalized_data=output.select("Independent Features","Survived")

In [176]:
finalized_data.show()

+--------------------+--------+
|Independent Features|Survived|
+--------------------+--------+
|           [9.0,1.0]|       0|
|          [47.0,0.0]|       0|
|          [28.0,0.0]|       0|
|          [28.0,0.0]|       0|
|          [28.0,0.0]|       0|
|          [29.0,0.0]|       0|
|          [21.0,0.0]|       1|
|          [22.0,1.0]|       1|
|          [20.0,0.0]|       1|
|          [48.0,1.0]|       0|
|          [51.0,0.0]|       1|
|          [40.0,0.0]|       0|
|          [47.0,0.0]|       0|
|          [17.0,1.0]|       1|
|          [19.0,1.0]|       1|
|          [28.0,0.0]|       0|
|          [36.0,0.0]|       0|
|          [32.0,0.0]|       1|
|          [18.0,1.0]|       0|
|          [28.0,0.0]|       0|
+--------------------+--------+
only showing top 20 rows

In [184]:
from pyspark.ml.classification import LogisticRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])                                                            # train test split
regressor=LogisticRegression(featuresCol='Independent Features', labelCol='Survived')
regressor=regressor.fit(train_data)

In [185]:
regressor.coefficients

DenseVector([-0.0046, 2.4781])

In [186]:
regressor.intercept

-1.2734740748966495

In [187]:
pred_results=regressor.evaluate(test_data)

In [188]:
pred_results.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+--------+--------------------+--------------------+----------+
|Independent Features|Survived|       rawPrediction|         probability|prediction|
+--------------------+--------+--------------------+--------------------+----------+
|          [0.42,0.0]|       1|[1.27539233855341...|[0.78166442981943...|       0.0|
|          [0.75,1.0]|       1|[-1.2012487899095...|[0.23125313821713...|       1.0|
|           [1.0,0.0]|       0|[1.27804136931750...|[0.78211618971013...|       0.0|
|           [1.0,0.0]|       1|[1.27804136931750...|[0.78211618971013...|       0.0|
|           [2.0,1.0]|       0|[-1.1955396718835...|[0.23226963424031...|       1.0|
|           [2.0,1.0]|       1|[-1.1955396718835...|[0.23226963424031...|       1.0|
|           [3.0,0.0]|       1|[1.28717595815922...|[0.78366880724026...|       0.0|
|           [4.0,0.0]|       0|[1.29174325258008...|[0.78444210660352...|       0.0|
|           [4.0,0.0]|       0|[1.29174325258008...|[0.78444210660352...|       0.0|
|           [4.0,0.0]|       0|[1.29174325258008...|[0.78444210660352...|       0.0|
|           [5.0,1.0]|       1|[-1.1818377886209...|[0.23472191786278...|       1.0|
|           [6.0,0.0]|       1|[1.30087784142180...|[0.78598268524576...|       0.0|
|           [6.0,1.0]|       0|[-1.1772704942000...|[0.23554332350986...|       1.0|
|           [7.0,1.0]|       1|[-1.1727031997792...|[0.23636671582518...|       1.0|
|           [9.0,0.0]|       1|[1.31457972468438...|[0.78827850044472...|       0.0|
|          [11.0,0.0]|       0|[1.32371431352610...|[0.78979900774021...|       0.0|
|          [11.0,0.0]|       1|[1.32371431352610...|[0.78979900774021...|       0.0|
|          [14.0,0.0]|       0|[1.33741619678868...|[0.79206471482484...|       0.0|
|          [15.0,0.0]|       0|[1.34198349120954...|[0.79281593661074...|       0.0|
|          [16.0,0.0]|       0|[1.34655078563040...|[0.79356515175091...|       0.0|
+--------------------+--------+--------------------+--------------------+----------+
only showing top 20 rows